In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
import seaborn as sns
warnings.filterwarnings('ignore')

In [5]:
df = pd.read_csv('noisy_datasets/breeding_bird_atlas.csv')

In [11]:
print("Dataset shape",df.shape)

Dataset shape (361582, 16)

In [13]:
df.head()

,Fed. Region,Block ID,Map Link,County,Common Name,Scientific Name,NYS Protection Status,Family Name,Family Description,Breeding Behavior,Month,Day,Year,Temperature,Average UB Student GPA,Breeding Status
0,NaN,5773C,50,NaN,NaN,12,10,71,TYRANT FLYCATCHERS,singing male present on more than one date in ...,NaN,NaN,1985.0,59,2.26,Probable
1,8.0,5569B,http://www.dec.ny.gov/data/dfwmr/bba/pdf/5569b...,ALBANY,Alder Flycatcher,Empidonax alnorum,Protected,TYRANNIDAE,TYRANT FLYCATCHERS,"Nest and eggs, bird on nest or egg, or eggshel...",NaN,NaN,1985.0,78,2.77,Confirmed
2,8.0,5773C,http://www.dec.ny.gov/data/dfwmr/bba/pdf/5773c...,ALBANY,American Black Duck,Anas rubripes,Game Species,ANATIDAE,"SWANS, GEESE & DUCKS",Pair observed in suitable habitat in breeding ...,NaN,NaN,1985.0,72,3.08,Probable
3,8.0,5872A,http://www.dec.ny.gov/data/dfwmr/bba/pdf/5872a...,ALBANY,American Black Duck,Anas rubripes,Game Species,ANATIDAE,"SWANS, GEESE & DUCKS",Species seen in possible nesting habitat or si...,NaN,NaN,1985.0,52,2.09,Possible
4,8.0,5570D,http://www.dec.ny.gov/data/dfwmr/bba/pdf/5570d...,ALBANY,American Crow,Corvus brachyrhynchos,Game Species,CORVIDAE,"JAYS, MAGPIES & CROWS",Singing male present on more than one date in ...,NaN,NaN,1985.0,28,2.28,Probable

In [15]:
df.describe()

,Fed. Region,Month,Day,Year,Temperature,Average UB Student GPA
count,355787.000000,3426.000000,9338.000000,351102.000000,361582.000000,361582.000000
mean,5.855652,49.772329,49.511994,1964.180056,49.467487,2.850668
std,5.836586,28.659289,28.794700,190.069866,17.322758,0.490552
min,0.000000,0.000000,0.000000,0.000000,20.000000,2.000000
25%,3.000000,26.000000,25.000000,1982.000000,34.000000,2.430000
50%,6.000000,50.000000,49.000000,1983.000000,49.000000,2.850000
75%,8.000000,74.000000,75.000000,1984.000000,64.000000,3.280000
max,99.000000,99.000000,99.000000,1985.000000,79.000000,3.700000

In [26]:
df.select_dtypes(include=['object']).columns

Index(['Block ID', 'Map Link', 'County', 'Common Name', 'Scientific Name',
       'NYS Protection Status', 'Family Name', 'Family Description',
       'Breeding Behavior', 'Breeding Status'],
      dtype='object')

In [32]:
df.select_dtypes(include=['int64','float64']).columns

Index(['Fed. Region', 'Month', 'Day', 'Year', 'Temperature',
       'Average UB Student GPA'],
      dtype='object')

In [40]:
cat = len(df.select_dtypes(include=['object']).columns)
num = len(df.select_dtypes(include=['int64','float64']).columns)
print('Total Features:', cat+num," = ",cat, 'categorical', '+',
      num, 'numerical')

Total Features: 16  =  10 categorical + 6 numerical

In [46]:
corrMat = df.corr()
f, ax = plt.subplots(figsize=(12, 9))
sns.heatmap(corrMat, vmax=.8, square=True);

ValueError: could not convert string to float: '5773C'